.twelve {
    background-color: #fc0017 !important;
}

.eleven {
    background-color: #d6d9da !important;
}

.ten {
    background-color: #eaeaea !important;
}

.nine {
    background-color: #ffb69c !important;
}

.eight {
    background-color: #c9dde0 !important;
}

.seven {
    background-color: #0f0e09 !important;
}

.six {
    background-color: #744f41 !important;
}

.five {
    background-color: #873ead !important;
}

.four {
    background-color: #00609d !important;
}

.three {
    background-color: #00ce5b !important;
}

.two {
    background-color: #f3c524 !important;
}

.one {
    background-color: #f77f38 !important;
}